body,
html {
  height: 100%;
  color: white;
  background-color: black;
}

label {
  font-size: 1.25rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  margin: 5px;
}

.weather-card li {
  list-style: none;
}

.background-image {
  background-image: url("./vecteezy_powerful-bright-lightning_6217090_456.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: rgb(29, 29, 40);
  color: white;
  font-size: 24px;
}

.custom-card {
  margin: 20px auto;
  border: 3px solid rgb(114, 75, 4);
  padding: 20px;
  background-image: linear-gradient(rgb(60, 57, 57), rgb(11, 11, 11));
  width: 25rem;
  border-radius: 20px;
}

.show-city {
  font-family: "Tilt Prism", cursive;
  font-size: 35px;
}

.show-date {
  font-size: 25px;
}

.weather-data {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
}
.city-wrapper {
  display: flex;
  flex-direction: column;
}

.weather-data {
  line-height: 2.5rem;
}

.forecast-container h2 {
  color: rgb(217, 205, 40);
  background-color: rgb(20, 20, 20);
  margin: 20px 10px 0px 35px;
  padding: 10px;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid rgb(84, 58, 10);
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center ; */
}
.weather-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.weather-card {
  background-image: linear-gradient(rgb(104, 79, 104), rgb(11, 11, 11));
  margin: 7px 20px;
  padding: 30px 20px;
  width: 20%;
  border-radius: 20px;
  line-height: 1.5rem;
  justify-content: center;
}
/* 
.box-content{
  margin: 20px auto;
  border: 3px solid rgb(114, 75, 4) ;
} */

#display-cities button {
  background-image: linear-gradient(rgb(60, 57, 57), rgb(11, 11, 11));
  padding: 20px;
  /* margin: auto; */
  border-radius: 20px;
  font-family: "Courier New", Courier, monospace;
}

#display-cities button:hover {
  font-style: italic;
}
/* 
#display-cities button:hover {
  background-image: linear-gradient(rgb(40, 32, 72), rgb(11, 11, 11));
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  font-family: "Courier New", Courier, monospace;
} */

/* # Tablet */

/* desktop */
@media (min-width: 992px) {
  /* .weather-card-wrapper {
    display: flex;
  } */
  .weather-card-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }
  .main-wrapper {
    display: flex;
  }
  .city-wrapper {
    flex-direction: column;
  }

  .custom-card {
    width: 50%;
  }

  .button-container {
    display: flex;
    flex-direction: column;
  }

  #display-cities {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  #display-cities button {
    width: 50%;
  }

  input {
    margin: 20px 0px;
  }

  label {
    color: rgb(54, 36, 4);
    font-size: 1.75rem;
  }
}
